<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="XTest Nova UiAutomator Service"
        android:supportsRtl="true" />
    <instrumentation
        android:name=".NovaInstrumentation"
        android:functionalTest="true"
        android:handleProfiling="false"
        android:targetPackage="com.openatx.xtest.nova.uiautomator" />
</manifest>
